# Documentation: http://docs.travis-ci.com/user/languages/julia/

language: julia

os:
  - linux
  - osx

julia:
  - 1.3.0-rc4

notifications:
  email: false

jobs:
  include:
      - stage: "Documentation"
        julia: 1.3.0-rc4
        os: linux
        script:
          - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
          - julia --project=docs/ docs/make.jl
        after_success: skip


script:
  - julia --color=yes -e 'using Pkg; Pkg.activate("."); Pkg.instantiate(); Pkg.test(coverage=true)'

after_success:
  - julia -e 'using Pkg; Pkg.add("Coverage"); using Photon, Coverage; cd(Photon.dir()); Codecov.submit(process_folder())'
